@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */
:root {
  --background: #000000 ; /* Default light mode */
  --foreground: #000000;
}

[data-theme="dark"] {
  --background: #000000; /* Dark mode */
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
